.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: gray;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
}

.content {
    min-width: 450px;
    background-color: white;
    border: 1px dashed orange;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    padding: 30px;
    box-shadow: 5px 5px 20px orange;
    border-radius: 15px;
    text-align: center;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 30px;
}

.buttonDelete {
    padding: 10px;
    border-radius: 50%;
    border: 1px dashed orange;
    transition: all ease-in 200ms;
}

.buttonDelete:hover {
    cursor: pointer;
    border: 1px dashed cyan;
    transform: scale(1.1);
}