.event_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}


.closeBtn {
    padding: 5px;
    border-radius: 50%;
    border: 1px dashed orange;
    transition: all ease-in 200ms;
}

.closeBtn:hover {
    border: 1px dashed cyan;
    box-shadow: 2px 2px 5px cyan;
    cursor: pointer;
    transform: scale(1.1);
}